
<div class="panel panel-default">
  <div class="container">
<br><br>
    <button class="btn btn-primary" type="button"
            (click)="fetchProductIds()">Fetch Details</button>
    <form [formGroup]="form" (ngSubmit)="showBids($event)">
      <br><h3>Product</h3>
      <div class="form-group">
        <label for="Product"></label>
        <select formControlName="website" class="form-control" (change)="changeWebsite($event)">
          <option disabled>Select Product Id</option>
          <option>Choose Product Id</option>
          <option *ngFor="let web of productIdList">{{web}}</option>
        </select>
        <div *ngIf="f.website.touched && f.website.invalid" class="alert alert-danger">
          <div *ngIf="f.website.errors.required">Product Id is required.</div>
        </div>
      </div>

      <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Get Product Details</button>
    </form>
  </div>



  <div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>Products details</h1>
      </div>
      <div class="panel-body">
        <table datatable [dtOptions]="dtOptions"
               [dtTrigger]="dtTrigger"   class="row-border hover" >
          <thead>
          <tr>
            <th>Name</th>
            <th>Value</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Product Name</td>
            <td>{{students.productDetail.productName}}</td>
          </tr>
          <tr>
            <td>Short Description</td>
            <td>{{students.productDetail.shortDescription}}</td>
          </tr>
          <tr>
            <td>Detailed Description</td>
            <td>{{students.productDetail.detailedDescription}}</td>
          </tr>
          <tr>
            <td>Category</td>
            <td>{{students.productDetail.category}}</td>
          </tr>
          <tr>
            <td>Starting Price</td>
            <td>{{students.productDetail.startingPrice}}</td>
          </tr>
          <tr>
            <td>Bid End Date</td>
            <td>{{students.productDetail.bidEndDate}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>


  <div class="panel-heading">
      <h1 style="text-align: center">Bids</h1><br>
      <div class="row" [hidden]="deleteMessage">

                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                        <div class="alert alert-info alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>Product details fetched</strong>
                        </div>
                </div>
                <div class="col-sm-4"></div>
        </div>
    </div>
  <!-- End of panel !-->

  <div class="panel-body">
      <table  class="table table-hover table-sm" datatable [dtOptions]="dtOptions"
      [dtTrigger]="dtTrigger"  >
          <thead class="thead-light">
              <tr>
                <th>Bid Amount</th>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile</th>

              </tr>
          </thead>
          <tbody>
               <tr *ngFor="let student of students.userBidsList">
                  <td>{{student.bidAmount}}</td>
                  <td>{{student.userName}}</td>
                  <td>{{student.userEmail}}</td>
                 <td>{{student.phone}}</td>
                </tr> 
          </tbody><br>
      </table>
  </div>

</div>



<div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
                <form [formGroup]="studentupdateform" #updstu (ngSubmit)="updateStu(updstu)">
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title" style="text-align: center">Update Student</h4>
              
            </div>
            
            <!-- Modal body -->
            <div class="modal-body" *ngFor="let student of studentlist " >
                <div [hidden]="isupdated">

                    <input type="hidden" class="form-control"  formControlName="student_id" [(ngModel)]="student.student_id">
                            <div class="form-group">
                                <label for="name">Student Name</label>
                                <input type="text" class="form-control"  formControlName="student_name" [(ngModel)]="student.student_name"  >
                            </div>
                    
                            <div class="form-group">
                                <label for="name">Student Email</label>
                                <input type="text" class="form-control" formControlName="student_email" [(ngModel)]="student.student_email">
                            </div>
                    
                            <div class="form-group">
                                <label for="name">Student Branch</label>
                                  <select class="form-control" formControlName="student_branch" required>                                   
                                    <option value="B-Tech" [selected]="'B-Tech' == student.student_branch">B-Tech</option>
                                    <option value="BCA" [selected]="'BCA' == student.student_branch">BCA</option>
                                    <option value="MCA" [selected]="'MCA' == student.student_branch" >MCA</option>
                                    <option value="M-Tech" [selected]="'M-Tech' == student.student_branch">M-Tech</option>
                                  </select>                               
                            </div>                   
                  </div>  
                  <div [hidden]="!isupdated">
                      <h4>Student Detail Updated!</h4>
                  </div>        
                    
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer" >
              <button type="submit" class="btn btn-success" [hidden]="isupdated">Update</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="changeisUpdate()">Close</button>
            </div>
            
        </form>
          </div>
        </div>
      </div>
