
<div class="panel panel-default">
  <div class="container">
<br><br>
    <button class="btn btn-primary" type="button"
            (click)="fetchProductIds()">Fetch Details</button>
    <form [formGroup]="form" (ngSubmit)="showBids($event)">
      <br><h3>Product</h3>
      <div class="form-group">
        <label for="Product"></label>
        <select [(ngModel)]="selectedLevel" formControlName="website" class="form-control"
                (change)="showBids()">
          <option disabled>Select Product Id</option>
          <option>Choose Product Id</option>
          <option *ngFor="let web of productIdList">{{web}}</option>
        </select>
        <div *ngIf="f.website.touched && f.website.invalid" class="alert alert-danger">
          <div *ngIf="f.website.errors.required">Product Id is required.</div>
        </div>
      </div>

      <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Get Product Details</button>
    </form>
  </div>


  <div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>Products details</h1>
      </div>
      <div class="panel-body">
        <table datatable [dtOptions]="dtOptions"
               [dtTrigger]="dtTrigger"   class="row-border hover" >
          <thead>
          <tr>
            <th>Name</th>
            <th>Value</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Product Name</td>
            <td>{{students.productDetail.productName}}</td>
          </tr>
          <tr>
            <td>Short Description</td>
            <td>{{students.productDetail.shortDescription}}</td>
          </tr>
          <tr>
            <td>Detailed Description</td>
            <td>{{students.productDetail.detailedDescription}}</td>
          </tr>
          <tr>
            <td>Category</td>
            <td>{{students.productDetail.category}}</td>
          </tr>
          <tr>
            <td>Starting Price</td>
            <td>{{students.productDetail.startingPrice}}</td>
          </tr>
          <tr>
            <td>Bid End Date</td>
            <td>{{students.productDetail.bidEndDate}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>


  <div class="panel-heading">
      <h1 style="text-align: center">Bids</h1><br>
      <div class="row" [hidden]="!isupdated">

                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                        <div class="alert alert-info alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>Bids details fetched</strong>
                        </div>
                </div>
                <div class="col-sm-4"></div>
        </div>
    </div>
  <!-- End of panel !-->

  <div class="panel-body">
      <table  class="table table-hover table-sm" datatable [dtOptions]="dtOptions"
      [dtTrigger]="dtTrigger"  >
          <thead class="thead-light">
              <tr>
                <th>Bid Amount</th>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile</th>

              </tr>
          </thead>
          <tbody>
               <tr *ngFor="let bid of bids">
                  <td>{{bid.bidAmount}}</td>
                  <td>{{bid.userName}}</td>
                  <td>{{bid.userEmail}}</td>
                 <td>{{bid.phone}}</td>
                </tr> 
          </tbody><br>
      </table>
  </div>

</div>
